html, body {
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.about-container {
    gap: 30px !important; 
    padding-top: 100px;
}

.about-image-col {
    margin-right: 0 !important; 
    padding-right: 0 !important;
    max-width: 500px; 
}

.about-image-col, 
.about-content-col {
    transform: none !important; 
    margin-left: 0 !important;
}

.about-content-col {
    padding-left: 20px; 
    text-align: left;
}

.pos-about-subtitle{
    margin-left: 50px;
}

.desktop-break {
    display: inline;
}

.pos-about-title{
    margin-left: 50px;
}

.about-description {
    max-width: 680px !important; 
    width: 100%;
    margin-left: 50px;
}

.title-ab-pro{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    max-width: 230px;
    transform: translateY(10px);
}

.about-features-row-setings{
    margin-left: 140px;
}

.about-content-col{
    margin-top:0px;
}

.about-feature-item img {
    margin-top: 12px; 
}

.btn-shop-settings {
    transform: translateY(70px);
    position: relative; 
    margin-left: 140px;
}

.about-hero,
.about-section,
.about-choice-section {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.about-hero .container,
.about-container,
.about-choice-container,
.footer-container {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;  
    padding-right: 40px;
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    .desktop-break {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .desktop-break {
        display: none !important;
    }
}