html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    overflow-x: hidden !important;
}


.hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.hero-image {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.hero-title {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    z-index: 10;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #2C4A5C;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.prod-container{
    margin-top: -160px;
    transform: translateX(-30px);
}

.prod-grid .prod-card:nth-child(-n+4) {
    margin-bottom: 4px; 
}


.prod-grid .prod-card:nth-child(n+9):nth-child(-n+12) {
    margin-top: 60px;
}

.btn-shop-settings{
    margin-top: 35px;
    margin-right: 125px;
}

.btn-primary:hover .btn-arrow {
    transform: translateX(4px); 
}

.shop-controls-buttons {
    display: flex;
    gap: 15px;          
    justify-content: center;
    margin-top: 20px;
    margin-left: 70px;
}

.small-image .prod-image-wrapper {
    height: 250px !important; 
}

.small-image .prod-image-wrapper img {
    max-height: 90% !important;
    object-fit: contain;
}

.small-corn .prod-image-wrapper {
    height: 280px !important; 
}

.small-corn .prod-image-wrapper img {
    max-height: 90% !important;
    object-fit: contain;
}

.prod-card {
    position: relative; 
    padding: 24px 5px 22px;
}

.add-to-cart-btn {
    position: absolute;
    top: 10px;
    right: 28px;
    width: 32px;
    height: 32px;
    background-color: #1F263E;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    padding: 6px;
}

.add-to-cart-btn img {
    width: 40px;
    height: 40px;
    
    display: block; 
}

.add-to-cart-btn {
    background-color: #ffffff; 
}

.add-to-cart-btn:hover {
    background-color: #f0f0f0; 
}
/* Адаптив для баннера */
@media (max-width: 768px) {
    .hero { height: 350px; }
    .hero-title { font-size: 36px; }
}